@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-background: var(--bg);
  --color-foreground: var(--text);
  --color-border: var(--border);
  --color-muted: var(--muted);
}

@layer base {
  body {
    @apply font-sans antialiased selection:bg-black selection:text-white;
  }
}

/* Custom scrollbar for high-end feel */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-current/10 hover:bg-current/20 transition-colors;
}

